.rightmost-container{
    width: 15vw;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.subtitles{
    font-weight: bold;
    padding: 0px 5px 5px 5px;
    cursor: pointer;
}
.fa-regular ,.fa-solid {
    margin-right: 1.5rem;
    padding: 10px;
    color:#555;
}
.rightmost-container-boxes{
    border-bottom: 1px solid #eee;
    padding: 1.5vh;
    min-height: 25vh;
    max-height: 30vh;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.events{
    font-size: 0.8rem;
    font-weight: bolder;
}
.location{
    font-size: 0.6rem;
    font-weight: bolder;
    color: #5a5a5a;
}
.date{
    font-size: small;
    font-weight: bolder;
    padding: 1vh 0 1vh 2vh;
}
.birthdatBoys{
    display: flex;
    flex-direction: column;
}
.eventsContainer{
    min-height: 30vh;
}
.birthdayContainer{
    min-height: 50vh;
}
::-webkit-scrollbar{
    display: none;
}